@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
font-family: "PT Sans", sans-serif;
font-size: 22px;
line-height: 26px;
color: #333333;
background-color: #F2F2F2;
}
.container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 64px;
}
.link-logo {
  margin-left: 70px;
  margin-right: 30px;
  position: relative;
  top: -2px;
  width: 140px;
  height: 70px;
  margin-bottom: -8px;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-item {
  padding: 20px 16px;
}
.navigation-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.navigation-link-current::before {
  position: absolute;
  content: "";
  bottom: -18px;
  width: 100%;
  height: 2px;
  background-color: #756257;
}
.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  list-style: none;
}
.navigation-item-user {
  width: 44px;
  height: 64px;
}
.navigation-link-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navigation-link-user:hover svg{
  fill: #756157;
}
.navigation-link-user:focus svg{
  fill: #756157;
}
.navigation-link-user:active svg{
  fill-opacity: 0.6;
}
.navigation-select {
  position: absolute;
  top: 9px;
  left: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  font-size: 10px;
  color: #FFFFFF;
}
.navigation-item-user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.button {
font-size: 16px;
line-height: 20px;
font-weight: 700;
color: #FFFFFF;
background-color: #82B3D3;
text-transform: uppercase;
text-decoration: none;
text-align: center;
border-radius: 4px;
border: none;
cursor: pointer;
padding: 8px 50px;
box-sizing: border-box;
font-family: "PT Sans", sans-serif;
}
.button-navigation {
  padding: 8px 34px;
  background-color: #756157;
}
.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #756157;
}
.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-more {
  padding: 8px 26px;
  background-color: #756157;
}
.button-select {
  padding: 8px 20px;
}
.button-select-current {
  background-color: #7DB54F;
  padding: 8px 18px;
}
.button-select-current:hover {
  background-color: #6C9E42;
}
.button-select-current:focus {
  background-color: #6C9E42;
  outline: none;
}
.button-select-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}
.button-select-current:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: text;
}
.button-follow:hover {
  background-color: #615048;
}
.button-follow:focus {
  background-color: #615048;
  outline: none;
}
.button-follow:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button-follow:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: text;
}
.button-send:hover {
  background-color: #68A2CA;
}
.button-send:focus {
  background-color: #68A2CA;
  outline: none;
}
.button-send:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.button-send:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: text;
}
.button-none {
  background-color: transparent;
  margin-top: 32px;
  border: 3px solid transparent;
}
.button-none:hover {
  color: rgba(255, 255, 255, 0.6);
}
.button-none:focus-visible {
  border-radius: 4px;
  border-color: #83B3D3;
  outline: none;
}
.button-none:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-none:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: text;
}
.main-index {
  flex-grow: 1;
}
.hero {
  position: relative;
  z-index: 1;
  top: -2px;
  background-image:url("../images/background/poligonal.svg"), url("../images/background/main-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  background-color: #83B3D3;
  min-height: 485px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}
.slogan-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.slogan-text {
  font-size: 22px;
line-height: 26px;
text-align: center;
}
.advantages {
  padding-top: 69px;
}
.slogan-advantages {
  max-width: 620px;
margin: 0 auto;
margin-bottom: 25px;
}
.text-advantages {
  max-width: 651px;
margin: 0 auto;
margin-bottom: 90px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-item{
  background-color: #82B3D3;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  box-sizing: border-box;
}
.advantages-item-full {
  display: flex;
  width: 100%;
  padding: 0;
}
.advantages-item-container {
  padding: 102px 85px;
}
.advantages-light{
  background-color: #83B3D31F;
}
.advantages-dark {
  background-color: #83B3D333;
}
.advantages-title{
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-transform: uppercase;
color: #000000;
text-align: center;
max-width: 175px;
margin: 0 auto;
padding-bottom: 62px;
}
.advantages-text {
font-size: 18px;
line-height: 21px;
text-align: center;
max-width: 230px;
margin: 0 auto;
}
.service {
  padding-top: 64px;
}
.slogan-service {
  max-width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.text-service {
  max-width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
}
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.service-item{
  width: 400px;
  min-height: 385px;
  background-color: #83B3D31F;
  padding: 85px;
  padding-top: 183px;
  padding-bottom: 81px;
  box-sizing: border-box;
}
.service-dark{
background-color: inherit;
}
.service-item:first-child {
  background-image: url(../images/background/home-background.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;

}
.service-item:nth-child(2) {
  background-image: url(../images/background/food-background.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
}
.service-item:last-child {
  background-image: url(../images/background/present-background.svg);
  background-repeat: no-repeat;
  background-position: top 81px center;
}
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  }
  .service-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0 auto;
  }
.search {
  padding: 96px 0;
}
.slogan-search {
  max-width: 297px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.text-search {
  max-width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}
.search a {
  display: block;
  width: 376px;
  margin: 0 auto;
}
.subscribe {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #83B3D3;
  background-image: url("../images/background/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }
.slogan-subscribe {
  max-width: 404px;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}
.text-subscribe {
  max-width: 475px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 54px;
  }
.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  }
.light {
  color: #FFFFFF;
}
.email {
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #F2F2F2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
}
.email:focus {
  outline: none;
  border: 3px solid #83B3D3;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.social-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-item {
  width: 47px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social-link svg {
  fill: #83B3D3;
}
.social-link:hover svg{
  fill: #68A2CA;
}
.social-link:focus svg{
  fill: #68A2CA;
  outline: none;
}
.social-link:active svg{
  fill: rgba(104, 162, 202, 0.3);
}
.social-link:focus {
  outline: none;
}
.footer-contacts {
  display: flex;
  align-items: center;
}
.footer-creator {
  display: flex;
  align-items: center;
}
.contacts-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.contacts-link:hover {
  color: #756157;
}
.contacts-link:focus {
  color: #756157;
  outline: none;
}
.contacts-link:active {
  color: rgba(117, 97, 87, 0.3);
}
.creator-link {
  display: flex;
  align-items: center;
  width: 100%;
}
.creator-link svg {
  fill: #000000;
}
.creator-link:hover svg{
  fill: #756157;
}
.creator-link:focus svg{
  fill: #756157;
  outline: none;
}
.creator-link:active svg{
  fill: rgba(117, 97, 87, 0.3);
}
.creator-link:focus {
  outline: none;
}
.main-inner {
  flex-grow: 1;
}
.inner-header {
  position: relative;
  z-index: 1;
  top: -2px;
  max-width: 1060px;
  min-height: 307px;
  background-color: #82B3D3;
  background-image: url("../images/background/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 70px;
  padding-top: 30px;
}
.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}
.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.breadcrumbs-arrow::after{
  content: url("../images/background/breadcrumbs.svg");
  padding: 0 10px;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs-link svg {
  fill: #FFFFFF;
}
.breadcrumbs-link:hover svg{
  fill: #756157;
}
.breadcrumbs-link:focus svg {
  fill: #756157;
}
.breadcrumbs-link:active {
  fill-opacity: 0.6;
}
.comfort-filter {
  display: flex;
  justify-content: space-between;
}
.comfort-group {
  margin: 0;
  padding: 0;
  border: none;
}
.comfort-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  padding-bottom: 32px;
}
.comfort-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comfort-item {
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 16px;
}
.comfort-item:last-child {
  padding: 0;
}
.control-title {
  margin-left: 16px;
}
.control-input{
  appearance: none;
  position: absolute
}
.control-mark{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 3px solid transparent;
}
.control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 10px;
  background-image: url(../images/background/checkbox.svg);
  background-repeat: no-repeat;
  opacity: 0;
}
.control-mark::before:focus {
  border-color: #83B3D3;
}
.control-input:checked + .control-mark::before {
  opacity: 1;
}
.control-mark.radio {
  background-color: #FFFFFF;
  border-radius: 50%;
}
.control-mark.radio::before {
  background-color: #3F5E72;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.comfort-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding-top: 56px;
  list-style: none;
}
.comfort-button-item {
  padding-bottom: 32px;
}
.comfort-button-item:last-child {
  padding: 0;
}
.input-price {
  max-width: 143px;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  border: 3px solid transparent;
}
.input-price:focus {
  outline: none;
  border-color: #83B3D3;;
}
.input-price::placeholder {
  text-align: right;
}
.group-container {
  display: flex;
  flex-wrap: wrap;
}
.min-price {
  width: 143px;
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
  box-sizing: border-box;
  margin-right: 2px;
}
.max-price {
  width: 143px;
  padding: 12px 20px;
  border-radius: 0px 4px 4px 0px;
  background: #F2F2F2;
  box-sizing: border-box;
}
.range-scale {
  width: 287px;
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.3)
}
.range-bar {
  width: 226px;
  right: 61px;
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.toggle-min {
  top: -8px;
  left: 0;
}
.toggle-max {
  top: -8px;
  right: 0;
}
.catalog-prewiev {
  display: flex;
  justify-content: space-between;
  margin: 70px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.catalog-title-search {
  width: 338px;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: 200px;
}
.catalog-select {
  width: 292px;
  display: flex;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  background-image: url("../images/background/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}
.catalog-select:hover {
  border-color: #68A2CA;
}
.catalog-select:focus {
  outline: none;
  border-color: #68A2CA;
}
.catalog-select:disabled{
  border-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.3);
  cursor: text;
}
.view-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
}
.view-item {
  width: 48px;
  height: 48px;
}
.view-item-center {
  margin: 0 8px;
}
.button-view {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.button-view:hover {
  border-color: #000000;
}
.button-view:focus-visible {
  outline: none;
  border-color: #68A2CA;
}
.button-view:active {
  border-color: #000000;
}
.button-view-current {
  border-color: #000000;
}
.mama svg {
  fill: #000000;
}
.catalog-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  margin: 0 70px;
  padding: 0;
  list-style: none;
}
.catalog-card {
  margin: 0;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}
.catalog-link {
  display: block;
  height: 212px;
}
.catalog-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 16px;
}
.catalog-link-title {
  color: inherit;
  text-decoration: none;
}
.catalog-text {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 16px 0;
}
.container-info {
  display: grid;
  gap: 16px 20px;
  grid-template-columns: repeat(2, 140px);
  align-items: start;
}
.stars {
  margin-top: 10px;
}
.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  margin: 0;
  padding: 9px 22px;
  border-radius: 4px;
}
.pagination {
  margin: 70px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination-item {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 4px;
  box-sizing: border-box;
}
.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
.pagination-link:hover {
  background-color: #68A2CA;
  border-radius: 4px;
}
.pagination-link:focus {
  background-color: #68A2CA;
  border-radius: 4px;
  outline: none;
}
.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.pagination-current {
  margin-left: 0;
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-current{
  pointer-events: none;
}
.pagination-point {
  color: #000000;
  background-color: #FFFFFF;
}
.pagination-point:hover {
  color: #FFFFFF;
}
.pagination-point:focus {
  color: #FFFFFF;
}
.pagination-point:active {
  color: #FFFFFF;
}
.subscribe-inner {
  background-image: none;
  background-color: #FFFFFF;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
